<packages>
	<package id="microsoft-edge" />
	<package id="lightshot" />
	<package id="microsoft-windows-terminal" />
	<package id="spotify" />

	<package id="git" />
	<package id="git.install" packageParameters="/NoShellIntegration" />
	<package id="poshgit" />
	<package id="git-fork" />
	<package id="hub" />
	<package id="salamander" />
        <package id="todobackup" />

	<package id="plantuml" />
	<package id="powertoys" />

	<package id="viber" />
	<package id="skype" />

	<package id="paint.net" />

	<package id="azure-cli" />
	<package id="dotnetcore-sdk" />
	<package id="ilspy" />
	<package id="nuget.commandline" />
	<package id="postman" />
	<package id="powershell-core" />

	<package id="vscode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon" />
	<package id="vscode-azurerm-tools" />
	<package id="vscode-csharp" />
	<package id="vscode-docker" />
	<package id="vscode-gitlens" />
	<package id="vscode-icons" />
	<package id="vscode-markdownlint" />
	<package id="vscode-powershell" />
	<package id="vscode-vsliveshare" />
	<package id="vscode-yaml" />

	<package id="jump-location" />
</packages>
