<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="microsoft-edge" />
	<package id="firefox" />

	<package id="lightshot" />
	<package id="microsoft-windows-terminal" />

	<package id="git" />
	<package id="git.install" packageParameters="/NoShellIntegration" />
	<package id="oh-my-posh" />
	<package id="poshgit" />
	<package id="git-fork" />
	<package id="gh" />
	<package id="nodejs" />

	<package id="1password" />

	<package id="azure-cli" />
	<package id="dotnet" />
	<package id="dotnet-6.0-sdk" />
	<package id="nuget.commandline" />
	<package id="postman" />
	<package id="powershell-core" />
	<package id="sysinternals" packageParameters="/InstallDir:C:\tools\sysinternals" />
	<package id="fiddler" />
	<package id="docker-desktop" />

	<package id="nano" />
	<package id="vscode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon" />
	<package id="vscode-csharp" />
	<package id="vscode-gitlens" />
	<package id="vscode-icons" />
	<package id="vscode-markdownlint" />
	<package id="vscode-powershell" />
	<package id="vscode-yaml" />

	<package id="jump-location" />
	<package id="sql-server-management-studio" />

	<package id="obs-studio" />
	<package id="screenruler" />
	<package id="mockoon" />

   	<package id="linqpad7" />
	<package id="k6" />
</packages>
